<section *ngIf="step1" class="w-50 mx-outo rounded bg-main-light p-3 shadow">
  <form [formGroup]="forgetForm" (ngSubmit)="forgotPassword()">
     <label for="email">email</label>
     <input formControlName="email" type="text" class="form-control" id="email">
     <button class="main-btn w-10 mt-3"> Forget Password</button>
    <p *ngIf="userMsg"ass="alert alert-danger w-75 mx-auto p-1 mb-0">{{userMsg}}</p>
  </form>
</section>

<section *ngIf="step2" class="w-50 mx-outo rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetCoode" (ngSubmit)="resetCode()">
     <label for="resetcode">resetcode</label>
     <input formControlName="resetco" type="text" class="form-control" id="resetcode">
     <button class="main-btn w-10 mt-3"> submit Code</button>
    </form>
</section>

<section *ngIf="step3" class="w-50 mx-outo rounded bg-main-light p-3 shadow">
  <form [formGroup]="resetPass" (ngSubmit)="resetPassword()">
     <label for="newpass">New Password</label>
     <input formControlName="newpass" type="password" class="form-control" id="email">
     <button class="main-btn w-10 mt-3"> submit Password</button>
    </form>
</section>
